<div class="modal-dialog add-plugin">
  <div class="modal-content container">
    <div class="title-main">
      <h3><%= t 'new_integration' %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <%= render partial: "#{@plugin_name}_form",
               locals: { url: synchronization_path(@synchronization.name,
                                                   @synchronization.id),
                         method_name: :put } %>
    <div class='error_connection_block'></div>
  </div>
</div>