<div class="test-lead">
  <a href="#" class="delete"><%= image_tag 'basket-icon.svg', class: "img-svg", alt: 'icon' %></a>
  <a href="#" class="edit"><%= image_tag 'edit-icon.svg', class: "img-svg", alt: 'icon' %></a>
</div>
