selector = $('.cases-info-item-inner[data-id=<%= @test_module.id %>]')
var count = selector.find('.test_case_item').length
selector.children('.cases-test')
        .children('.cases-test-header')
        .children('.test-name')
        .html("<%= @test_module.title %><span class='number'>(" + count + ")</span>")
selector.children('.cases-test')
        .children('.cases-test-content')
        .find('tbody .module')
        .html('<%= @test_module.title %>')
hide_modal();
$('.contains.contains-info').html('<%= j render partial: "test_plans/jstree" %>');

jstree_init();
init_carets();
bind_custom_scrollbar();
init_plan_togle_switcher();
