<div id="preview" class="preview">
  <div class="items">
    <%= render @issue.attachments %>
  </div>
  <div class="btn btn-green upload_file">
    <span class="fa fa-paperclip" aria-hidden="true"></span>
    <span class="file-name">Add file</span>
  </div>
</div>
