<div class="modal-dialog restore-your-account">
  <div class="modal-content">
    <div class="title-main">
      <h3><%= t 'account_locked_p1' %></h3>
      <span class="close">
        <%= image_tag('close-icon.svg', class: 'img-svg') %>
      </span>
    </div>
    <div class="modal-body">
      <div class="description">
          <p><%= t 'account_locked_p2' %></p>
          <p><%= t 'account_locked_p3' %></p>
      </div>
    </div>
  </div>
</div>
