<div class="card card-tabs">
  <ul class="card-tabs-list">
    <% @left_menu_links.each do |link, value| %>
      <li class="card-tabs-list-item">
        <%= link_to user_profile_path(link),
                    remote: true,
                    class: "item-content link_user_profile_menu #{active_link?(@active_page, link)}" do %>
          <%= user_menu_image(link) %>
          <span><%= value %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
