<div class="card card-tab-content org-delete tab">
  <div class="card-header">
      <h2 class="card-header-title"><%= t 'payment_history' %></h2>
  </div>
  <div class="columns-wrapper"></div>
</div>